# Default ignored files
/../../audiovarsha./.idea/shelf/
/../../audiovarsha./.idea/workspace.xml
# Datasource local storage ignored files
/../../audiovarsha./.idea/dataSources/
/../../audiovarsha./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../audiovarsha./.idea/httpRequests/
